In [ ]:
!pip install pandas scikit-learn nltk

Requirement already satisfied: pandas in c:\users\joslyn\msai\nlp\mluc-project\.conda\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\joslyn\msai\nlp\mluc-project\.conda\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\joslyn\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\joslyn\msai\nlp\mluc-project\.conda\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\joslyn\msai\nlp\mluc-project\.conda\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\joslyn\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\joslyn\msai\nlp\mluc-project\.conda\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\joslyn\msai\nlp\mluc-project\.conda\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\joslyn\msai\nlp\mluc-project\.conda\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\joslyn\msai\nlp\mluc-project\.conda\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\joslyn\msai\nlp\mluc-project\.conda\lib\site-packages (from nltk) (4.67.0)
Requirement already satisfied: colorama in c:\users\joslyn\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)

In [ ]:
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import root_mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

In [19]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

C:\Users\Joslyn\AppData\Local\Temp\ipykernel_3404\3180332355.py:1: DtypeWarning: Columns (435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('train.csv')

In [20]:
train.columns

Index(['id', 'p_num', 'time', 'bg-5:55', 'bg-5:50', 'bg-5:45', 'bg-5:40',
       'bg-5:35', 'bg-5:30', 'bg-5:25',
       ...
       'activity-0:40', 'activity-0:35', 'activity-0:30', 'activity-0:25',
       'activity-0:20', 'activity-0:15', 'activity-0:10', 'activity-0:05',
       'activity-0:00', 'bg+1:00'],
      dtype='object', length=508)

In [21]:
test.columns

Index(['id', 'p_num', 'time', 'bg-5:55', 'bg-5:50', 'bg-5:45', 'bg-5:40',
       'bg-5:35', 'bg-5:30', 'bg-5:25',
       ...
       'activity-0:45', 'activity-0:40', 'activity-0:35', 'activity-0:30',
       'activity-0:25', 'activity-0:20', 'activity-0:15', 'activity-0:10',
       'activity-0:05', 'activity-0:00'],
      dtype='object', length=507)

In [22]:
features = ['bg-5:55']
imputer = SimpleImputer(strategy='mean')
scaler = StandardScaler()
x_imp = imputer.fit_transform(train[features])
x_scaled = scaler.fit_transform(x_imp)

In [23]:
lin_reg = linear_model.LinearRegression()

In [45]:
features = ['bg-5:55']
clean_train = train.dropna(subset=features)
clean_test = imputer.fit_transform(test[features])

In [50]:
clean_test_df = pd.DataFrame(clean_test, columns=features)
clean_test_df.isna().sum()

bg-5:55    0
dtype: int64

In [51]:
features = ['bg-5:55']
X_train = clean_train[features]
y_train = clean_train['bg+1:00']

clean_test_df = pd.DataFrame(clean_test, columns=features)
X_test = clean_test_df[features]

In [52]:
model = lin_reg.fit(X_train, y_train)
preds = model.predict(X_test)
#mse = root_mean_squared_error(, preds)

In [53]:
submission_df = pd.DataFrame(zip(clean_test['id'], preds), columns=['id', 'bg+1:00'])
submission_df.to_csv('submission.csv', index=False)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [30]:
clean_df

,id,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
250,p01_250,p01,02:35:00,8.2,NaN,NaN,NaN,7.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
500,p01_500,p01,17:40:00,4.7,NaN,NaN,5.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.2
501,p01_501,p01,17:55:00,5.4,NaN,NaN,NaN,7.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.7
711,p01_711,p01,23:55:00,7.8,NaN,NaN,NaN,7.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.3
904,p01_904,p01,01:25:00,9.4,NaN,NaN,10.4,NaN,NaN,11.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177019,p12_25294,p12,23:35:00,8.8,9.1,9.2,9.4,9.8,10.2,10.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1
177020,p12_25295,p12,23:40:00,9.1,9.2,9.4,9.8,10.2,10.4,10.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.9
177021,p12_25296,p12,23:45:00,9.2,9.4,9.8,10.2,10.4,10.3,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7
177022,p12_25297,p12,23:50:00,9.4,9.8,10.2,10.4,10.3,10.1,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.5
177023,p12_25298,p12,23:55:00,9.8,10.2,10.4,10.3,10.1,10.0,9.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2